[MASTER]
jobs=4 #number of processes to use
load-plugins=pylint_django

[MESSAGES CONTROL]
disable=
    # ... disable default Pylint messages ...
    invalid-name,
    too-few-public-methods,
    too-many-arguments,
    too-many-instance-attributes,
    missing-docstring,
    logging-fstring-interpolation,
    broad-exception-caught,
    invalid-envvar-default,

[FORMAT]
max-line-length=120

[META-VARIABLES]
django-settings-module=nft_loans.settings
